<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css " />
    <script src="./../js/func.js"></script>
    <script src="/js/validate.min.js"></script>
  </head>

  <body>
    <header>
      <h1>Michał Tracichleb</h1>
    </header>
    <main>
      <section>
        <h2>O mnie</h2>
        <p>
          Jestem Michał Tracichleb, student piątego semestru studiów
          inżynierskich na kierunku Informatyka ze specjalnością programowanie.
          Pracuję jako DevOps Engineer w ING.
        </p>
      </section>
      <section>
        <h2>Praca</h2>
        <p>
          Na co dzień pracuję w ING jako DevOps Engineer, gdzie zajmuję się
          automatyzacją procesów, zarządzaniem infrastrukturą oraz wdrażaniem
          rozwiązań zwiększających efektywność pracy zespołów.
        </p>
      </section>
      <section>
        <h2>Zainteresowania</h2>
        <p>
          W weekendy lubię biegać, co pozwala mi na odprężenie i utrzymanie
          dobrej kondycji fizycznej. Mam także pieska o imieniu Jordan, z którym
          spędzam dużo wolnego czasu.
        </p>
      </section>
      <input type="text" id="example" />
      <button id="action">Klik</button>
      <p id="test"></p>
    </main>
  </body>
</html>